[include]
    path = ~/.gitconfig.local
[core]
    eol = auto
    autocrlf = false
    editor = vim
    excludesfile = ~/.global_gitignore
[alias]
    co = checkout
    prettylog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
[mergetool]
    keepBackup = false
[pager]
	branch = false
    diff = false
[push]
    default = simple
[init]
	defaultBranch = master
